jedu1n_1020/VM_szemelyek.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="szemelyek">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="szemely">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="nev" />
                            <xs:element name="kor" minOccurs="0" />
                            <xs:element name="varos" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>